 body {
     color: aliceblue;
     background-color: rgb(33, 33, 33);
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 
.block {
    background: linear-gradient(to bottom, black, rgb(61, 61, 61));
    border-radius: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(101, 101, 101, 0.8);
    margin: 10px;
    padding: 20px;
}

.top {
    align-items: center;
    text-align: center;
    margin: 20px;
}

.top p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: grey;
    font-style: italic;
}

hr {
    opacity: 0.25;
    margin: 20px;
}

.pform label {
    font-weight: bold;
    color: white;
}

#name, #email {
    color: aliceblue;
    border: none;
    box-shadow: 0 0 10px rgba(101, 101, 101, 0.8);
    background-color: black;
    border-radius: 5px;
    padding: 5px;
}

.pform .submit {
    background-color: grey;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(101, 101, 101, 0.8);
    cursor: pointer;
}

.noeffect {

    font-size: 25px;
    line-height: 2em;
}