.line {
    padding: 1vh;
    border: none;
}

.hd-standalone {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    padding: 10px;
}

body {
    background: #1e1e1e;
    overflow-x: hidden;

    background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
}

.header {
    color: rgb(245, 245, 220);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    align-items: center;
    text-align: left;
    display: flex;

    justify-content: center;
    font-size: large;

    padding-left: 30px;
    backdrop-filter: blur(10px);

    top: 0px;
    position: sticky;

    z-index: 10;
}

.header > a {
    text-decoration: none;
    color: white;

    font-size: xx-large;
    font-weight: bolder;
}

.about-div {
    background-color: #131313;
    box-shadow: #131313 0px 10px 8px 0px;

    text-align: center;
    color: rgb(232, 143, 0);

    margin: 20px;
    border: 2px dashed;

    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-div > P {
    color: white;
    text-align:  justify;
    line-height: 1.7em;
    font-size: large;
}

.link-div {
    display: flex;
    align-items: center;

    margin-left: auto;
    padding: 10px;
}

.link-div > a > img {
    width: 80px;
    height: auto;

    transition: transform 0.2s;
}

.link-div > a > img:hover  {
    transform: scale(1.2);
}

.textcontainer {
    color: white;
    border: 2px rgb(232, 143, 0) solid;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 50px;
    background-image: linear-gradient(135deg, rgb(18, 18, 18) 0%, rgba(0, 0, 0, .2) 100%), url('images/pizza.webp');
    background-size: cover;
    background-position: center center;
    margin: 20px;
    box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: #131313 0px 10px 8px 0px;

    width: auto;
    height: 25vmin;
}

.textcontainer > p {
    font-size: min(max(20px), 2.5vw);
}

.textcontainer > span {
    color: rgb(232, 143, 0);
    font-size: min(max(100px), 12vw);
    font-weight: bolder;
}

.hub {
    background-color: rgb(232, 143, 0);
    color: black;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;

    padding-top: 5px;
    padding-bottom: 5px;
}

.formsel {
    font-weight: bolder;
    color: rgb(255, 255, 255);

    border: 2px rgb(232, 143, 0) solid;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2em;
    padding: 20px;
    margin: 20px;

    box-shadow: #131313 0px 10px 8px 0px;

    
    background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
}

.pizcontainer {
    display: flex;
    flex-wrap: wrap;
    scale: 1;
}

.newrel {
    color: rgb(255, 255, 255);
    justify-content: center;

    border: 2px rgb(232, 143, 0) solid;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    padding: 20px;
    padding-bottom: 5px;

    margin: 20px;

    box-shadow: #131313 0px 10px 8px 0px;
    background-size: cover;

    background-position: center center;
    width: calc(50% - 84px);
    height: auto;

    transition: transform 0.2s, filter 0.2s;
}

.newrel:hover {
    transform: scale(0.95);
    filter: brightness(125%);
    box-shadow: 0px 0px 15px rgb(255, 159, 81);
}

.newrel > h1 {
    color: rgb(255, 255, 255);
}

.newrel > p {
    background-color: rgba(9, 9, 9, 0.6);
    border-radius: 5px;

    backdrop-filter: blur(3px);

    padding: 20px;
    line-height: 1.5rem;

    color: rgb(240, 240, 240);
    text-shadow: 0 0 10px  rgb(50, 50, 50);
}

#select, #name {
    color: aliceblue;
    border: none;
    box-shadow: 0 0 10px rgba(14, 14, 14, 0.8);
    background-color: rgb(76, 76, 76);
    border: 2px solid #6e6e6e;
    border-radius: 5px;
    padding: 10px;
    text-shadow: 0 0 2px black;

    font-size: large;
    transition: border-color 0.3s;
}

#select:focus, #name:focus {
    outline: none;
    border-color: rgb(232, 143, 0);
}

.ordform {
    background-color: rgb(232, 143, 0);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    position: sticky;
    bottom: 0px;
}

.ordform p {
    font-style: italic;
    font-size: smaller;
}

.ordform button {
    background-color: black;
    color: rgb(232, 143, 0);
    border: 4px solid rgb(255, 197, 105);
    border-radius: 10px;
    padding: 20px;
    font-weight: bolder;
    cursor: pointer;
    font-size: large;

    width: 100%;
    transition: transform .2s;
}

.ordform button:hover {
    transform: scale(.95);
}

.ordform button span {
    font-style: italic;
}

.track-main {
    background-color: #131313;
    box-shadow: #131313 0px 10px 8px 0px;
    padding: 30px;

    text-align: center;
    color: white;
}

.track-main > h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 15px;
}

.moving-track {
    padding: 20px;
    width: 100%;

    display: flex;
    gap: 45px;

    animation: scroll 25s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-200%);
    }
}


.review-container {
    justify-content: center;
    padding: 10px;
    text-align: center;

    border-radius: 10px;
    box-shadow: 0 0 0px rgba(197, 197, 197, 0.3);

    width: 35vmin;
    filter: blur(5px);

    transition: box-shadow 0.2s, filter 0.2s, transform 0.2s;
}

.review-container:hover {
    transform: scale(1.075);
    box-shadow: 0 0 10px rgba(197, 197, 197, 0.3);
    filter: blur(0px);
}

.stars {
    display: flex;
    width: auto;
    height: 7vmin;

    filter: brightness(0) saturate(100%) invert(82%) sepia(71%) saturate(1293%) hue-rotate(359deg);
}

.review-container > p {
    color: aliceblue;
    font-style: italic;
    font-size: 20px;
}

.loc-div {
    height: 100%;
    width: 100%;    
}

.loc-rel {
    color: rgb(255, 255, 255);
    display: flex;

    justify-content: center;
    align-items: center;

    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    padding: 20px;
    margin: 20px;

    box-sizing: border-box;
    box-shadow: #131313 0px 10px 8px 0px;
    background-color: #242424;
    background-size: cover;

    background-position: center center;
    transition: background-color 0.2s;
}

.loc-rel:hover{
    background-color: #333333 ;
    box-sizing: border-box;
    border: 2px #686868 dashed;
}

.loc {
    color: rgb(232, 143, 0);
    margin-left: auto;
}

.contact-div {
    display: flex;

    text-align: center;
    font-size: 2vmin;

    justify-content:space-evenly;
    align-items: center;
}

.animated-scroll {
    opacity: 0;
    animation: fade-in forwards;
    animation-duration: 0.5s;
    animation-timeline: view();
    animation-range: entry 60% cover 40%;
}

.img-track-root {
    display: flex;
    padding: 20px;
    gap: 30px;
}

.img-mv {
    height: 35vmin;
    width: auto;;
    border-radius: 10px;

    display: flex;
    background-size: cover;
}

.moving-track > img {
    opacity: 0.5;
    transition: transform 0.2s, opacity 0.2s;
}

.moving-track > img:hover {
    opacity: 1;
    transform: scale(1.075);
}

#toppings {
   width: 100%;
   height: auto;
   display: flex;

   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   list-style-type: none;
}

input[type=checkbox] {
    display: none;
}

.ch > label {
    border-radius: 10px;

    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

.ch > label::before {
    background: #fff;
    color: #fff;
    content: "";
    display: block;
    position: absolute;

    border-radius: 50%;

    top: 5px;
    left: 5px;
    width: 3vmin;
    height: 3vmin;
    text-align: center;
    
    transform: scale(0);
    
    transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ch > label > img {
    width: 25vmin;
    height: 25vmin;

    border: 1vmin #141414 solid;
    border-radius: 20px;
    object-fit: cover;

    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.4);

    transform-origin: 50% 50%;
}

:checked + label::before {
    background-color: rgb(232, 143, 0);
    transform: scale(1.5);
}

:checked + label > img {
    transform: scale(0.9);
    border: 1vmin rgb(232, 143, 0) solid;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.4);
}

@media (max-width: 600px) {
    .ch > label > img {
        width: 100%;
    }

    .ch > label {
        padding: 5px;
        margin: 0px;
    }
}

@media (max-width: 950px) {
    .ch > label > img {
        width: 35vmin;
    }
}

@media (max-width: 1000px) {
    .newrel {width: 100%;}
}

@keyframes fade-in {
    from {
        opacity: 0;
        filter: blur(10px);
    
        transform: translateY(300px);
    }

    to {
        opacity: 1;
        filter: blur(0px);

        transform: translateY(0);
    }

}
