.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.btn:hover::before {
    transform: translateX(0);
}

.card {
    position: relative;
    width: calc(50% - 15px);
    height: 20vh;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card-content {
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    border: 5px #ffffff80 solid;
    border-radius: 0px;
}

.card:hover .card-content {
    transform: rotateX(0deg);
    border-radius: 15px;
}

.card-title {
    margin: 0;
    font-size: 3.5vmin;
    color: white;
    font-weight: 700;

    transition: color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-tit-display {
    font-size: 3cqmin;
    
    color: #dfdfdf;
    transition: 0.1s linear
}

.card:hover .card-tit-display {
    transform: rotateX(-90deg);
}

.card-description {
    margin: 10px 0 0;
    font-size: 2vmin;
    color: white;
    line-height: 1.4;
}

.card > input {
    display: none;
}

:checked + .card-content, .card {
    transform: rotateX(0deg);
    border-radius: 15px;
}

:checked + .card-content {
    backdrop-filter: blur(10px);   
    border-color: rgb(232, 143, 0);
}

:checked + .card-content, .card-title {
    color: rgb(232, 143, 0);
}

:checked .card-tit-display {
    transform: rotateX(-90deg);
}

#top-container {
    display: flex;
    justify-content: space-around;
    
    gap: 15px;

    flex-wrap: wrap;
}

.top-card {
    width: calc(50% - 10px);
    display: flex;
    position: relative;
}

.top-label {
    position: relative;

    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: #6f6f6f35;

    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.top-label p {
    position: relative;

    width: 100%;
    height: 100%;

    text-align: center;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.resultCont {
    display: grid;
    place-items: center;
   
    height: 100vh;
    width: 100vw;
}

.resultElement{
    width: 70vmin;
    height: auto;

    line-height: 2em;
    background-color: #131313;
    box-shadow: #131313 0px 10px 8px 0px;

    text-align: center;
    color: white;

    margin: 30px;
    border: 2px rgb(232, 143, 0) dashed;
    box-shadow: 0px 0px 20px rgb(138, 90, 0);

    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ResInfo {
    display: flex;
    flex-wrap: wrap;
    
    gap: 20px;

    padding: 20px;

    background-color: #1d1d1d;
    border-radius: 15px;
}

.ResInfo p {
    text-align: left;
    height: auto;

    font-weight: bolder;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ResInfo div {
    box-shadow: 0px 0px 30px rgb(3, 3, 3);
    border-radius: 10px;
    padding-left: 10px;

    text-align: left;
    width: 100%;
    height: auto;
}

#restpCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background:transparent;

    box-shadow: none;
}

#restpCont p {
    font-weight: lighter;
    font-style: italic;
    width: calc(33% - 10px);
}

.tp-title {
    font-size: 2vmin;
}

.top-label:hover {
    scale: 1.05;
    box-shadow: 0px 0px 20px rgb(255, 180, 59);
}

:checked + .top-label {
    background-color: rgb(232, 143, 0);
    color: black;

    border-radius: 15px;
    scale: 0.95;
}

input[type="checkbox"] {
    position: relative;
    display: none;
}

@media (max-width: 768px) {
    .card {
        text-align: left;
        width: 100%;
        height: 40vmin;

        padding-left: 1vw;
        padding-right: 1vw;
    }

    .card-title {
        font-size: 6.5vmin;
    }

    .card-description {
        font-size: 3.5vmin;
    }

    .top-card {
        width: 100%;
    }

    .tp-title {
        font-size:5vmin;
    }

    .card-tit-display {
        font-size: 6cqmin;
    }

    .resultElement {
        line-height: 2em;
        width: 100%;
        height: 70%;
        transform: translateY(5%);
    }
    
    .resultElement p {
        font-size: 4vmin;
    }
}

@media (min-width: 1000px) {
    .card {
        width: calc(33% - 15px);
    }

    .card-title {
        font-size: 3.5vmin;
    }

    .card-description {
        font-size: 1.5vmin;
    }

    .top-card {
        width: calc(33% - 10px);
    }
}