.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.btn:hover::before {
    transform: translateX(0);
}

.card {
    position: relative;
    width: calc(50% - 30px);
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card-content {
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    border: 5px rgb(232, 143, 0) solid;
    border-radius: 0px;
}

.card:hover .card-content {
    transform: rotateX(0deg);
    border-radius: 15px;
}

.card:hover {
    border-radius: 15px;
}

.card-title {
    margin: 0;
    font-size: 3.5vmin;
    color: rgb(232, 143, 0);
    font-weight: 700;
}

.card-description {
    margin: 10px 0 0;
    font-size: 2vmin;
    color: white;
    line-height: 1.4;
}

.card > input {
    display: none;
}

:checked + .card-content, .card {
    transform: rotateX(0deg);
    border-radius: 15px;
}

:checked + .card-content {
    backdrop-filter: blur(10px);
}

@media (max-width: 768px) {
    .card {
        text-align: left;
        width: 100%;
    }

    .card-title {
        font-size: 6.5vmin;
    }

    .card-description {
        font-size: 3.5vmin;
    }
}

@media (min-width: 1000px) {
    .card {
        width: 30%;
    }

    .card-title {
        font-size: 3.5vmin;
    }

    .card-description {
        font-size: 1.5vmin;
    }
}